* {
    margin: 0px;
    padding: 0px;
}


main {
    background-color: white;
}

body{
    font-family:'Inter', sans-serif;
}

header {
    margin: 15px;
    padding: 20 px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul li {
    list-style: none;
    margin: 0 10px;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #667085;
}

.botao2 {
    padding: 10px;
    color: rgb(255, 255, 255);
    background: maroon;
    border: 1px solid;
    border-radius: 10px;
}

.botao1 {
    color: black;
}

.botao a {
    text-decoration: none;
}

.texto {
    text-align: center;
    margin: 50px;
}

p {
    color: #8e2424;
}

h1 {
    margin: 20px;
    font-size: 40px;
}

.texto h3 {
    margin: 10px;
    color: #667085;
}

.metricas-container {
    display: flex;
    justify-content: space-around;
}

.metricas h1 {
    color: #8e2424;
    width: 280px;
    height: 72px;
    left: 0px;
    top: 0px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
}

.metricas2 h1 {
    color: #8e2424;
    width: 280px;
    height: 72px;
    left: 0px;
    top: 0px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
}

.metricas3 h1 {
    color: #8e2424;
    width: 280px;
    height: 72px;
    left: 0px;
    top: 0px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
}

.metricas4 h1 {
    color: #8e2424;
    width: 280px;
    height: 72px;
    left: 0px;
    top: 0px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
}

.subtitulo2 {
    color: #8e2424;
    display: flex;
    background: rgb(253, 180, 180);
    border-radius: 8px;
    width: 100px;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    text-align: center;
}

.titulo2 {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
}

.paragrafo2 {
    display: flex;
    justify-content: space-around;
    color: #667085;
    font-size: 20px;
}

.imagem {
    width: 1520px;
    height: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.metricas h4 {
    color: #667085;
}

.metricas2 h4 {
    color: #667085;
}

.metricas3 h4 {
    color: #667085;
}

.metricas4 h4 {
    color: #667085;
}

.vaga {
    margin: 0 auto;
}

.titulo {
    position: static;
    width: 768px;
    height: 30px;
    left: 0px;
    top: 0px;



    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #101828;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}

.profissao{
    font-size: 20px;
    width: 768px;
    margin: 0 auto;
}

.vaga{
    width: 768px;
    margin: 50px auto;
    border: 1px solid #eaecf0;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 28px;
    border-radius: 16px;
}

.titulo-vaga{
    width: 720px;
    height: 28px;
    font-size: 18px;
    align-self: stretch;
    margin: 8px 8px 28px;
    font-weight: 750;
}

.informacoes{
    color: #667085;
    font-size: 16px;
    margin: 0 8px;
    align-self: stretch;
}

.paragrafo5{
    color: #101828;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}

.paragrafo6{
    color: #667085;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.depoimentos{
    background: rgba(196, 25, 25, 0.03);
    width: 1200px;
    height: 380px;
    border-radius: 16px;
    margin: 0 auto;
}
.paragrafo3{
    color: #8e2424;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
}

.paragrafo4{
    color: #101828;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 36px;
}

.avatar{
    width: 56px;
    height: 56px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 94px;
    margin: 100px auto;
    background: #F9FAFB;
}

.formulario h1 {
    font-size: 36px;
    margin: 0 0 10px;
}

.formulario h2 {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
    margin: 0 0 20px;
}

.formulario ul li {
    margin: 0;
}

.formulario input {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    align-items: center;
    padding: 12px 14px 12px 16px;
}

.formulario a {
    color: white;
    background: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

.formulario p {
    font-size: 16px;
    font-weight: 400;
    color:#667085;
}
